.App {
  background-color: rgba(133, 210, 233, 0.5);
  min-height: 100vh;
  padding: 20px 5px;
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 430px;
  height: 110px;
  margin: auto;
  margin-top: 15px;
  border-radius: 10px;
}

.weather-display {
  height: inherit;
  width: inherit;
  display: flex;
  position: relative;
}

.weather {
  display: flex;
  flex: 1;
}

.location {
  flex: 1;
  text-align: left;
  padding-left: 15px;
}
#city-name {
  font-weight: 600;
  font-size: clamp(25px, 30px, 40px);
}

@media only screen and (min-width: 845px) {
  .App {
    display: grid;
    margin: auto;
    max-width: 845px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media only screen and (min-width: 767px) {
  .App {
    display: grid;
    margin: auto;
    max-width: 845px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .weather-card {
    min-width: 360px;
  }
}

.error {
  position: relative;
}
