@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Nunito", sans-serif;
  background-image: url(./svgs/background.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: fixed;
}
